* {
    box-sizing: border-box;
}

:root {
    --purple:rgba(7, 7, 180, 0.402); 
}

.div-layer {
    background: linear-gradient(
        white 0%,
        white 10%,
        rgba(32, 21, 239, .6) 10%,
        rgba(32, 21, 239, .6)
    );
    border-radius: 1% 1% 0% 0%;
}

body {
    overflow: scroll;
    text-align: center;
    display: block;
}

.site-container {
    width: auto;
    height: 100%;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Home_Alone_House.jpg/540px-Home_Alone_House.jpg);
    margin: 0;
    padding: 0;
    border-radius:1% 1% 0% 0%;
    background-repeat: round;
    background-size: contain;
    position: relative;
}

.header {
    border-radius: 5%;
    width: 100%;
    height: fit-content;    
    padding: 0px;
    margin: 0;
}

.h-container {
    width: 100%;
    border-radius: 5%;
}

.site-logo img{
    width: 80px;
    height: auto;
    float: left;
    padding-bottom: 10px;
}

.top-nav {
    border: 1px solid black;
    margin: 0;
    padding: 10px 20px;
    width: 100%;
    background-color: var(--purple);
    border-radius: 2% 2% 0% 0%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.top-selector {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    margin: 0 13%;
    border-radius: 11px;
    color: aliceblue;
}

.top-selector:hover {
    background-color: aqua;
}

.top-banner {
    height: 19vh;
    width:100%;
    padding-top: 0;
    margin-top: 0;
    background: linear-gradient(
        90deg,
        #2015ef,
        #2015ef 48%,
        black 48%
    )
}

#p-logo {
    height: 19vh;
    width: 25%;
}

.banner-header {
    width: 100%;
    height: auto;
    text-align: center;
    
}

.arrow {
    width: 20%;
    rotate: -180deg;
}

#easy-img {
    width: 20%;   
}

#buy-button {
    margin: 19px 2px;
}

#headshot {
    margin: 5px 10px;
}

.form-bar {
    height: fit-content;
    padding: 20px;
    align-self: flex-end;
}

.low-mid {
    text-align: center;
}

span {
    color: antiquewhite;
    font-weight: 900;
    font-stretch: extra-expanded;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: xx-large;
    width: auto;
}

span:hover {
    cursor: auto;
}

.home-value {
    
}

#home-value-img {
    width:50%
}

#about-back {
    background-color: var(--purple);
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
}

#about-holder {
    height: fit-content;
    margin-left: 15%;
}

#about-holder > p {
    columns: 1;
    column-width: 33%;
    font-size: 20px;
    text-align: left;
}

footer {
    background-color: #2015ef;
}

.bottom-nav {
    width: 100%;
    padding: 10px 20px;
}

#bottom {
    background-color: var(--purple);
}

#bottom > span {
    font-size: 15px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

#r {
    width: 300px;
}

#r2 {
    width: 100px;
}

/*market stats*/

#stats {
    background-color: var(--purple);
    margin: 0 auto;
}

#stats > * {
    margin: 0 auto;
    padding: 10px;
    max-width: 750px;
}

#stats > p {
    font-size: 20px;
    text-align: center; 
}

#contact {
    height: 100vh;
}

#frame {
    width: 100%;
    border: none;
    height: 100vh;
}

/*contact*/

#c-container {
    background-color: var(--purple);
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
}

#contact {
    height: fit-content;
    margin-left: 15%;
}

#contact > * {
    max-width: 750px;
    margin: 0 auto;
    text-align: right;
}

#contact > h2 {
    margin: 0 auto;
    padding: 10px;
    font-style: italic;
}

#form-x {
    height: fit-content;
    padding: 20px;
}

.form {
    max-width: 400px;
    text-align: center;
}

label {
    
}
fieldset {
    border: none;
    border-left: 1px solid #000;
}
/*about*/

#about {
    background-color: var(--purple);
}

.about- {
    margin: 0 auto;
    padding: 10px;
    max-width: 750px;
}
