* {
    box-sizing: border-box;
    font-size: 1.25rem;
}

html {
    margin: 0;
}

:root {
    --purple: lightblue; 
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

.site-container {
    width: auto;
    height: 100%;
    background: url(http://upload.wikimedia.org/wikipedia/commons/9/9b/Suburban_tract_house.JPG);
    margin: 0;
    padding: 0;
    border-radius:1% 1% 0% 0%;
    background-repeat: round;
    background-size: cover;
}

h4 {
    background-color: lightblue;
    margin: 0;
    padding: 10px;
}

.h-container {
    width: 100%;
    display: flex;
}

.site-logo img{
    width: 70px;
    background-color: aliceblue; 
}

.top-nav {
    width: 100%;
    background-color: #000;
    padding-top: 18px;
}

.top-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 5px;
}

.top-selector {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: white;
}

.top-selector:hover {
    background-color: aqua;
}

.top-banner {
    height: 19vh;
    width:100%;
    padding-top: 0;
    margin-top: 0;
    background: linear-gradient(
        90deg,
        #89acb8,
        #89acb8 50%,
        black 50%
    )
}

#p-logo {
    height: 19vh;
    width: 25%;
}

.banner-header {
    width: 100%;
    height: auto;
    text-align: center;
    
}

.arrow {
    width: 10%;
    rotate: -180deg;
}

.mid span {
    color: rgba(34, 242, 204, 0.983);
}

#easy-img {
    width: 10%;   
}

#buy-button {
    margin: 19px 2px;
}

#headshot {
    margin: 5px 10px;
}

.low-mid {
    text-align: center;
}

span {
    color: antiquewhite;
    font-weight: 900;
    font-stretch: extra-expanded;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: xx-large;
    width: auto;
}

span:hover {
    cursor: auto;
}

.home-value {
    
}

#home-value-img {
    width:50%
}

#about-back {
    background-color: var(--purple);
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
}

#about-holder {
    height: fit-content;
    margin:0 auto;
    max-width: 900px;
}

#about-holder > ol {
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
}

footer {
    background-color: rgb(137, 172, 184);
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0 5px;
}

.foot-container {
    background-color: #000;
    display: flex;
}

.bottom-nav {
    width: 100%;
    padding-top: 18px;
}

.bottom-selector {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

#bottom span {
    color: #000;
}

#bottom > span {
    font-size: 15px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

#r {
    width: 300px;
}

#r2 {
    width: 100px;
}

/*market stats*/

#stats {
    background-color: var(--purple);
    margin: 0 auto;
}

#stats > * {
    margin: 0 auto;
    padding: 10px;
    max-width: 750px;
}

#stats > p {
    font-size: 20px;
    text-align: center; 
}

#contact {
    height: 100vh;
}

#frame {
    width: 100%;
    border: none;
    height: 100vh;
}

/*contact*/

#c-container {
    background-color: var(--purple);
    height: fit-content;
    display: flex;
    padding: 5px 0;
}

#contact {
    height: fit-content;
    padding: 10px 0;
}

#contact > * {
    max-width: 750px;
    margin: 0 auto;
    text-align: right;
}

#contact > h2 {
    margin: 0 auto;
    padding: 10px;
    font-style: italic;
}

.form {
    max-width:395px;
    min-width: 0px;
    text-align: center;
    overflow: hidden;
}

.form input, select, textarea {
    width: 100%;
}

#trouble {
    width: 100%;
}

.form fieldset {
    border: none;
    min-width:0;
}

/*about*/

#about {
    background-color: var(--purple);
}

.about- {
    margin: 0 auto;
    padding: 10px;
    max-width: 750px;
}

#family-pic {
    width: 30vw;
}

/*sell*/

#sell-back {
    height: fit-content;
    margin: 0;
    padding: 0;
    background-color: var(--purple);
}

#shadow > *{
    margin: 0 auto;
    padding: 5px 0;
    max-width: 750px;
}

#sell-mid {
    display: inline-flex;
}

#cma-info {
    text-align: left;
    padding: 5px;
}

#br {
    width: 30vw;
    height: 1vh;
    background-color: #2015ef;
    margin-left: 25px;
}

#cma-ul {
    font-size: larger;
    list-style: square;
    justify-content: space-between;
}

#cma-button {
    height: fit-content;
    padding: 10px;
}

.cma-button {
    height: 200px;
    padding: 10px;
    background: linear-gradient(
        45deg,
        var(--purple),
        teal,
        red
    );
}

.cma-button:hover {
    cursor: pointer;
}

/*buy*/

#buy-back {
    background-color: var(--purple);
}

#buy-back h1 {
    margin: 0;
    font-style: oblique;
    font-size: 1.75rem;
}

#buy-back h2 {
    font-style: italic;
}

#buy-back p {
    margin: 0 auto;
    max-width: 750px;
}
.buy-form {
    background-color: var(--purple);
}

#buy-form {
    background-color: var(--purple);
    max-width: 500px;
    margin: 1px auto;
}

#buy-form fieldset {
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    border: none;
}

.last-fieldset {
    min-width: none;
    padding: 0;
}

#pre-approval {
    margin: 0;
    padding: 0;
    width: 100%;
}

#buy-form label {
   display: block;
}